@import 'bower_components/angular-material/angular-material';

$dark: #1F242A;
$light: #E9E9E9;
$accent: #0a96c8;

body {
  font-family: 'Open Sans';
  background-color: $dark;
}

#HeroBoard {

  .top-bar {
    background-color: $dark;

  }
  .main-row {
    background-color: $dark;
    leaders, followers {
      background-color: $light;
      border-top: 3px solid $accent;
    }
    stats > md-content {
      border-top: 3px solid $accent;
    }
    .no-background {
      background-color: transparent;
    }
  }

  div.person-with-rank {
    color: $light;
    background-color: transparent;
    display: inline-block;
    position: relative;
    width: 100%;

    img.rounded {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: solid 1px $light;
      width: 117px;
    }

    .name {
      left: 139px;
      top:57px;
      font-size:1.5rem;
      position:absolute;
    }
  }

  .bragging-section {
    h3 {
      color: $accent;
    }
  }
}

#vertical-container {
  height: 500px;
}

.virtualRepeatdemoDeferredLoading #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px;
}

.virtualRepeatdemoDeferredLoading .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

.virtualRepeatdemoDeferredLoading md-content {
  margin: 16px;
}

.virtualRepeatdemoDeferredLoading md-virtual-repeat-container {
  border: solid 1px grey;
}

.virtualRepeatdemoDeferredLoading .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}

