@import 'bower_components/angular-material/angular-material';

$dark: #1F242A;
$light: #E9E9E9;
$accent: #0a96c8;

body {
  font-family: 'Open Sans';
  background-color: $dark;
}

i {
  font-feature-settings: "liga" 1, "dlig" 1;
}

#HeroBoard {

  .top-bar {

    background-color: transparent;
  }
  .main-row {
    background-color: transparent;

    stats > md-content {
      border-top: 3px solid $accent;
    }
    .no-background {
      background-color: transparent;
    }
  }

  .bragging-section {
    h1 {
      color: $light;
      font-size: 3.5em;
      font-weight: lighter;
      font-variant: small-caps;
    }
    p {
      font-size: 1.6em;
      color: $light;
    }
    h3 {
      color: $accent;
      font-weight: 100;
      font-size: 2.5em;
      font-variant: small-caps;
    }

    div.person-with-rank,
    div.stat {
      color: $light;
      background-color: transparent;
      display: inline-block;
      position: relative;
      width: 100%;

    }
    div.person-with-rank {
      .rank {
        position: absolute;
        top: 0;
        float: left;
        .rank-num {
          font-size: 2em;
        }
      }

      .image {
        margin-top: 0px;

      }

      img.rounded {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        width: 34%;
        height: auto;
      }

      .name {
        left: 109px;
        top: 7px;
        font-size: 1.5em;
        position: absolute;
      }
    }

    div.stat {
      text-align: center;
      .headline {
        font-size: 4em;
      }
      .small-text {
        font-size: 1.2em;
      }
    }
  }

  .scrolling-section {
    background-color: transparent;
    margin-top: -13px;
    margin-bottom: -13px;

    .scroll-card {
      background-color: $light;
      border-top: 3px solid $accent;
      margin-bottom: 20px;

      .md-headline,
      .rank {
        margin-left: 10px;
      }

      .rank {
        font-size: 1.2em;
      }

      .rank,
      .results {
        font-variant: small-caps;
      }

      .no-spill {
        overflow: hidden;
      }
    }
  }

  .white-background-column {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $light;
    width: 44%;
    z-index: 0;
  }

  .top-bar {
    z-index: 1;
  }

  .main-row {
    z-index: 2;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: italic;
    color: $light;
    .branding {
      font-size: 2em;
      .highlight {
        color: $accent;
      }
    }

  }
}

#vertical-container {
  height: 1075px;
}

.virtualRepeatdemoDeferredLoading #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px;
}

.virtualRepeatdemoDeferredLoading .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}

.virtualRepeatdemoDeferredLoading md-content {
  margin: 16px;
}

.virtualRepeatdemoDeferredLoading md-virtual-repeat-container {
  border: solid 1px grey;
}

.virtualRepeatdemoDeferredLoading .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}

