<div layout="column" style="height:100%">
    <div layout="row" class="main-row" layout-padding layout-margin layout-fill flex>
        <md-content flex="45" class="no-background bragging-section">
            <leaders ></leaders>
            <stats ></stats>
            <followers ></followers>
        </md-content>
        <md-content flex class="no-background scrolling-section">
            <scroller></scroller>
        </md-content>
    </div>
    <div class="white-background-column"></div>
</div>
