<md-content class="no-background" layout="column">
    <md-virtual-repeat-container flex id="vertical-container">
        <div md-virtual-repeat="item in dynamicItems" md-on-demand
             class="repeated-item" flex>
            <md-card class="md-whiteframe-z3 scroll-card"
                     id="userCard{{item.rank}}">
                <md-card-title layout="row">
                    <md-card-title-media>
                        <div class="md-media-sm card-media no-spill">
                            <img src="{{item.profileImg}}">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{item.userFirstName}} {{item.userLastName}}</span>
                        <span class="rank">OVERALL RANK {{item.avgRank | ordinal}} </span>
                    </md-card-title-text>
                    <md-card-title-text layout="end center">
                        <span class="md-headline results" ng-repeat="test in item.tests">{{test | testformatter:testType}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-virtual-repeat-container>
</md-content>
