<h3>
    workout stats
</h3>
<div layout="row">
    <div flex="30">
        <div class="stat">
            <div>
                <div class="headline">{{totalReps}}</div>
                <div class="small-text">total {{units | lowercase}}</div>
            </div>
        </div>
    </div>

    <div flex="30">
        <div class="stat">
            <div>
                <div class="headline">{{averageReps}}</div>
                <div class="small-text">average {{units | lowercase}}</div>
            </div>
        </div>
    </div>

    <div flex="30">
        <div class="stat">
            <div>
                <div class="headline">{{asPerscribed}}%</div>
                <div class="small-text">perfection percentage</div>
            </div>
        </div>
    </div>
</div>

