<div layout="row">
    <md-card flex="30">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{totalReps}}</span>
                <span class="md-subhead small-text">total {{units}}</span>
            </md-card-title-text>

        </md-card-title>
    </md-card>

    <md-card flex="30">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{averageReps}}</span>
                <span class="md-subhead small-text">average {{units}}</span>
            </md-card-title-text>

        </md-card-title>
    </md-card>
</div>

